/* Layout Menu e Título*/

/*Estilizando a barra do menu*/
ul{    
    list-style-type: none; /*Removendo o marcador de bolinha*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    margin-bottom: 20px;
}


li{
    float: right; /*Alinhei os itens de menu à direita*/
}

li a {
    display: block; /* Fazendo com que o link ocupe toda a area*/
    padding: 14px 16px;
    text-decoration: none; /* removendo o sublinhado*/
    color:aliceblue

}

li a:hover { /*mudando as cores ao passar o mouse*/
    background-color: #e3882d;
    color: black;
}


h1 { /*configurando meu título principal*/
    text-align: center; 
    margin: 0;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 26px; /*aumentei o espaço entre as linhas*/
    color: #e3882d;
}

/*layout da caixa de conteudo para as fotos e o textos*/   
.caixa-conteudo img { /*configurando a imagem dentro da caixa*/
    width: 40%;
    height: auto;
    display: block;  /* Deixando a imagem como um bloco. */
    margin: 0 auto 15px; /*centralizando a imagem e colocando margem inferior*/
    padding: 15px; /*borda ao redor da imagem*/
    background-color: #e3882d; 
    }

.caixa-conteudo { /*configurando a div da foto e do texto */
    width: 80%;
    height: auto;
    margin: 40px auto; 
    text-align: center;  /*centralizando*/
    }

p{ /*estilizando os paragrafos*/
    text-align: justify; /*justificando o texto dos paragrafos*/
    text-indent: 20px; /*deixando o recuo de paragrafo*/
    margin: 80px;
    font-size: 18;
    font-family: arial, sans-serif;
    line-height: 1.5; /*melhorando a altura da linha*/
}

h2, h3, h4, h5 { /*estilizando os subtitulos*/
    margin: 10px 0;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 14px; /*deixando mais espaçado*/
    color: #e3882d;
    text-align: center; /*centralizando*/

}

form {
  width: 60%; /*largura do formulário*/
  margin: 0 auto; /*Centralizando o formulário na página*/
  border: 1px solid #ccc; /*Adicionando borda*/
  padding: 10px;
  
}   

form label {
  display: block; /*para os rótulos ficarem em uma nova linha*/
  margin-bottom: 3px;
  
}

form input[type="text"], /*campo para o texto*/
form input[type="email"], /*campo para o email*/
form textarea { /*campo para o area do texto*/
  width: 100%; /*para ocupar a largura total*/
  padding: 10px;
  margin-bottom: auto;  
}

form button {/*estilizando o botão*/
  background-color: #e3882d; 
  color: white;
  padding: 10px 15px;
  border: none; /*removendo a borda padrao*/
}